@for (blog of blogs(); track $index) {
    <div class="card card-body m-4">
        <h2>{{blog.title}}</h2>
        <ul>
            <li><strong>Description:</strong> {{blog.description}}</li>
            <li><strong>Impression Count:</strong> {{blog.impressionCount}} 
                <button class="btn btn-sm btn-outline-success" (click)="addBlogImpression(blog)">Add Impression</button></li>
            <li><strong>Creation Date:</strong> {{blog.creationDate}}</li>
            <li><strong>Category:</strong> {{blog.categoryName}}</li>
            <li><strong>Content:</strong> 
                <div>
                    @for (content of blog.content; track $index) {
                        <div class="card card-body m-1">
                            {{content}}
                        </div>
                    }
                </div>
            </li>
            <li><strong>Comments:</strong> 
                <div>
                    @for (comment of blog.comments; track $index) {
                        <div class="card card-body m-1">
                            <ul>
                                <li><strong>Author:</strong> {{comment.authorUsername}}</li>
                                <li><strong>Creation Date:</strong> {{comment.creationDate}}</li>
                                <li><strong>Content:</strong> {{comment.content}}</li>
                            </ul>
                        </div>
                    }
                    @if (blog.comments.length === 3 && !shownComments().includes(blog)) {
                        <button class="btn btn-outline-secondary m-2" (click)="showMoreComments(blog)">
                            Load More
                        </button>
                    }
                    <button class="btn btn-outline-info m-2" (click)="showNewCommentField(blog)">
                        Add Comment
                    </button>
                    @if (blogCommentFieldsShown(blog)) {
                        <div class="card card-body m-1">
                            <label for="comment">New Comment</label>
                            <input type="text" class="form-control" id="comment" [(ngModel)]="getCommentField(blog).content" />
                            <label for="authorUsername">Author Username</label>
                            <input type="text" class="form-control" id="authorUsername" [(ngModel)]="getCommentField(blog).authorUsername" />
                            <button class="btn btn-primary m-2" (click)="addBlogComment(blog)">Add Comment</button>
                        </div>
                    }
                </div>
            </li>
        </ul>
    </div>
}